{% extends 'base.html' %}
{% block title %}Editar material{% endblock %}
{% block navbar %}
    {% if user.operador.nivel_acesso == 2 %}
    {% include 'navbar_2.html' %}
    {% elif user.operador.nivel_acesso == 1 %}
    {% include 'navbar_1.html' %}
    {% else %}
    {% include 'navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
<script>
        function toggleQuantidade() {
            const registro = document.getElementById('registro').value;
            const quantidadeDiv = document.getElementById('quantidade-div');

            if (registro.trim() !== '') {
                quantidadeDiv.style.display = 'none';
            } else {
                quantidadeDiv.style.display = 'block';
            }
        }

        // Garante que o campo quantidade é ajustado ao carregar a página
        window.onload = function() {
            toggleQuantidade();
        }
</script>
<div class="container mt-5">
    <h1 class="mb-4">Editar Material</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome do Material</label>
            <input type="text" id="nome" name="nome" class="form-control" value="{{ material.nome }}" required>
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select id="categoria" name="categoria" class="form-control">
                {% for categoria in categorias %}
                    <option value="{{ categoria.id }}" {% if material.categoria.id == categoria.id %}selected{% endif %}>
                        {{ categoria.nome }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="registro" class="form-label">Registro (Deixe vazio se não houver)</label>
            <input type="text" id="registro" name="registro" class="form-control" value="{{ material.registro|default:'' }}" oninput="toggleQuantidade()">
        </div>
        <div class="mb-3" id="quantidade-div">
            <label for="quantidade" class="form-label">Quantidade</label>
            <input type="number" id="quantidade" name="quantidade" class="form-control" value="{{ material.quantidade }}">
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'listar_materiais' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
