{% extends 'base.html' %}
{% block title %}Editar Função{% endblock %}
{% block navbar %}
    {% if user.operador.nivel_acesso == 2 %}
        {% include 'navbar_2.html' %}
    {% elif user.operador.nivel_acesso == 1 %}
        {% include 'navbar_1.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Editar Função</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="nome" class="form-label">Nome da Função</label>
            <input type="text" name="nome" id="nome" class="form-control" value="{{ funcao.nome }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a href="{% url 'listar_funcoes' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
