{% extends 'base.html' %}
{% block title %}Excluir Categoria{% endblock %}
{% block navbar %}
    {% if user.operador.nivel_acesso == 2 %}
    {% include 'navbar_2.html' %}
    {% elif user.operador.nivel_acesso == 1 %}
    {% include 'navbar_1.html' %}
    {% else %}
    {% include 'navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Excluir Categoria</h1>
    <p>Tem certeza de que deseja excluir a categoria <strong>{{ categoria.nome }}</strong>?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'listar_categorias' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
