{% extends 'base.html' %}
{% block title %}Confirmar Exclusão{% endblock %}
{% block navbar %}
    {% if user.operador.nivel_acesso == 2 %}
    {% include 'navbar_2.html' %}
    {% elif user.operador.nivel_acesso == 1 %}
    {% include 'navbar_1.html' %}
    {% else %}
    {% include 'navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mb-4">Tem certeza que deseja excluir o cliente <strong>{{ cliente.nome }}</strong>?</h2>
    <form method="POST" action="{% url 'excluir_cliente' cliente.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Sim, excluir</button>
        <a href="{% url 'visualizar_cliente' cliente.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
