{% extends 'base.html' %}
{% block title %}Listar Assinantes{% endblock %}
{% block navbar %}
    {% if user.operador.nivel_acesso == 2 %}
        {% include 'navbar_2.html' %}
    {% elif user.operador.nivel_acesso == 1 %}
        {% include 'navbar_1.html' %}
    {% else %}
        {% include 'navbar.html' %}
    {% endif %}
{% endblock %}
{% block content %}
<h1>Assinantes</h1>
<a href="{% url 'cadastrar_assinante' %}" class="btn btn-success mb-3">Novo Assinante</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for assinante in assinantes %}
        <tr>
            <td>{{ assinante.id }}</td>
            <td>{{ assinante.nome }}</td>
            <td>
                <a href="{% url 'editar_assinante' assinante.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_assinante' assinante.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
