{% extends 'base.html' %}
{% load static %}

{% block title %}Login - Sistema Guardião{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="mb-3">Sistema Guardião</h1>
        <img src="{% static 'images/logo.png' %}" alt="Logo Sistema Guardião" class="mb-4" width="150" height="150">
        
        <div class="col-md-12">
            <h2 class="text-center mb-4">Login</h2>
            {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}
            <form method="POST" class="text-start">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Entrar</button>
            </form>
        </div>
    </div>
</div>

<!-- Mensagem de crédito -->
<div class="text-center mb-3">
    <small class="text-muted">Criado por Leonardo Pimentel</small>
</div>
{% endblock %}
